<!DOCTYPE html>
<html>
<head>
  <title>Shit Happens</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shit</a>
    </div>
  </div>
</nav>


<body style="background-color: #fff;">
  <h2 class="jumbotron text-center">Poop?</h2>

<form method="post">

<div class="row">
    <div class="col-lg-4">
    <h3 style="padding-left: 10px;">Register to find shitters near you!</h3>
    <label for="email" style="padding-top: 10px; padding-right:39px; padding-left: 10px"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required><br>

    <label for="pass" style="padding: 10px"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required><br>

  <div class="register" style="padding: 5px 10px;">
    <button type="submit">Sign up</button>
    <span class="pass" style="background-color:#fff; padding-left: 20px;">
  </div>

</div>

</form>
</body>
</html>


